---
- name: Install Apache package
  package:
    name: "{{ apache_pkg }}"
    state: present

- name: Deploy index.html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: '0644'

- name: Ensure Apache running and enabled
  service:
    name: "{{ apache_service }}"
    state: started
    enabled: true
